<launch>
    <!-- Load Robot Description -->
     <arg name="debug" default="false"/>
        <arg name="world_name" default="$(find rb1_base_gazebo)/worlds/ros2_online_workshop.world"/>

       
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world_name)"/>
                <arg name="debug" value="$(arg debug)" />
                <arg name="paused" value="false"/>
                <arg name="use_sim_time" value="true"/>
                <arg name="headless" value="false"/>
                <arg name="verbose" value="true"/>
        </include>
    <param name="robot_description"
        command="$(find xacro)/xacro --inorder '$(find my_rb1_description)/urdf/my_rb1_robot.xacro'"/>

    <!-- Arguments for Model Name and Position -->
    <arg name="model_name" default="my_rb1_robot"/>
    <arg name="x" default="-0.3205"/>
    <arg name="y" default="-1.34419"/>
    <arg name="z" default="0.010"/>

    <!-- Spawn Model in Gazebo -->
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model $(arg model_name) -x $(arg x) -y $(arg y) -z $(arg z)" />

    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="use_sim_time" value="true"/>
    </node>

    <!-- Joint State Publisher GUI -->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen"/>

</launch>
